<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <h1>This is my landing page</h1>
        </header>

        <div>
            <form class="user-form" method="post" action='/'>
                <label for="user">Username:</label>
                <input type="text" id="user" name="username">
                <label for="about">Tell us about yourself:</label>
                <input type="textarea" id="about" name="aboutself">
                <button type="submit" id="submitButton">Send Details</button>
            </form>
        </div>
    </body>
</html>